.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__container__header_h2,
.main__container__header_h1{
    text-align: center;
    font-size: 2rem;
}

.main__container__header_h2{
    margin-bottom: 2rem;
    text-align: center;
}

.main__container__header_h1 + small{
    color: var(--text-muted-color);

    text-align: center;
    font-size: 1.2rem;
}
