*{
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row{
    margin: 0;
}

.containter-fluid{
    padding: 0;
}

.btn-primary{
    background-color: #F2A340;
    border: 2px solid #C28008;
}

.btn-primary:hover{
    background-color: #C28008;
    border-color: #C28008;
}

#navbar{
    justify-content: space-between;
    background-color: #fff;
    padding: 5px 0;
}

#navbar img {
    width: 40px;
}

#navbar a{
    font-size: 14px;
    color: #757575;
}

#navbar a:hover{
    color: #f2a340;
}

#search-container{
    background-image: url('../assets/banner.jpg');
    background-size: cover;
    background-position: center;

    height: 400px;

    padding:50px;

    text-align: center;
}

#search-container h1 {
    color: #F2A340;

    margin-bottom: 30px;

    font-weight: 500;
}

#search-container form{
    width: 50%;

    margin: 0 auto;
}

#events-container{
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle{
    color: #757575;

    margin-bottom: 30px;
}

#events-container .card{
    flex: 1 1 0;

    max-width: 25%;

    border-radius: 10px;

    padding: 0;
    margin: 5px
}

#cards-container{
    display: flex;
}

#events-container img{
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date{
    font-size: 12px;
    color: #CCC;
}

.card .card-title{
    color: #2E2E21;

    font-size: 20px;
    font-weight: bold;

    margin-bottom: 30px;
}

.card-participants{
    font-size: 14px;
    color: #757575;
}

footer{
    text-align: center;
    color: #FFF;

    position: absolute;
    bottom: 0;

    width: 100%;

    padding: 30px;

    background-color: #353E48;
}

footer p{
    margin-bottom: 0;
}
