@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
	background: #f9f9f9;
	font-family: "Roboto", sans-serif;
}

#main-container{
    margin-top: 50px;
}


#pic-tab{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

#user-pic-tab{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;

    width: 100px;

    cursor: pointer;
}

#btnUpFile{
    width: 50%;
    height: 100%;

    position: absolute;
    z-index: 2;

    cursor: pointer;

    display: none;
    align-items: center;
    justify-content: center;

    font-size: 30px;
}

#file{
    display: none;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;

    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-pills a.nav-link ion-icon {
	width: 20px;

    font-weight: bolder;
}

.img-circle img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 5px solid #fff;
}
